<div id="answer-{{ answer.id }}" class="row mb-4">
    <div class="col-1">
        <div id="votes" class="text-center">
            <div class="votes-count">0</div>
        </div>
    </div>
    <div class="col-11">
        <div class="answer border rounded p-3">
            <p>{{ answer.body }}</p>
        </div>
    </div>
</div>
