<div class="comment card mb-3" id="comment-#{{ comment.id }}">
    <div class="body card-body">
        <p>{{ comment.body }}</p>
        <p class="small m-0 text-right">{{ user.email }}    </p>
    </div>
</div>
