/*
 *= require_tree .
 *= require_self
 */

@import '../../../node_modules/bootstrap/scss/bootstrap';

.hidden {
  display:none;
}

.flash-notice {
  background:$cyan;
  color:$white;
  padding:1.5rem;
  margin-top:3rem;
  border-radius:.75rem; }
.flash-alert {
  background:$red;
  color:$white;
  padding:1.5rem;
  margin-top:3rem;
  border-radius:.75rem; }

#votes {
  text-align:center; }
.votes-count {
  display:block;
  width:1.5em;
  height:1.5em;
  line-height:1.5em;
  font-size:1.5rem;
  text-align:center;
  border-radius:50%;
  margin:.5rem auto;
  background:$gray-600;
  color:white;
  font-weight:bold; }
